.panel, .well {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.panel > .panel-body {
  margin-left: 30px;
  margin-right: 30px;
}

.btn-default {
  color: #666;
  background-color: #fff;
  border-color: #ccc;
}

.input-group .form-control, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  z-index: 0 !important;
}
