.RichTextEditor__root___2QXK- {
  color: white;
  background-color: rgb(50, 50, 50) !important;
  font-family: Courier !important;

  /*background-color: #f89406;*/
  border: 2px solid #555 !important;
  color: #ffffff !important;
}
.RichTextEditor__editor___1QqIU .RichTextEditor__paragraph___3NTf9, .RichTextEditor__editor___1QqIU pre {
  margin: 0px 0 !important;
  margin-top: 0px !important;
}
.EditorToolbar__root___3_Aqz {
  border-top: 1px solid #444 !important;
  opacity: .55 !important;
}
.Button__root___1gz0c {
  display: inline-block;
  margin: 0 5px 0 0 !important;
  padding: 3px 8px !important;
  height: 30px;
  line-height: 22px;
  box-sizing: border-box;
  background: none #fdfdfd;
  background: linear-gradient(180deg,#fdfdfd 0,#f6f7f8);
  border: 1px solid #999 !important;
  border-radius: 2px;
  color: #333 !important;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  white-space: nowrap;
}
